/* HorizontalScroll.css */
.scroll-container {
    width: 100%;
    white-space: nowrap;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
  }
  
  .scroll-item {
    min-width: 200px;
    box-sizing: border-box;
  }

  /* Hide scrollbar for all browsers */
  .productOverflow::-webkit-scrollbar {
    display: none;
  }

  .scroll-container::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  .scroll-container {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }