@import "tailwindcss";



body::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 10px;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  background: #4440E6;
  border-radius: 10px;
  border: 3px solid #fff;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
  background: #4440E6;
}

p {
  @apply text-[#333333] 
}

span {
  @apply text-[#333333] text-[14px]
}

a {
  @apply text-[13px] font-sans;
}

h1 {
  @apply text-[#333333]
}


h3 {
  @apply font-sans opacity-90
}

h4 {
  @apply sm:text-xl text-base
}

h5 {
  @apply sm:text-base text-base
}

h6 {
  @apply font-semibold
}



.blog_content h2 {
  font-size: 1.7rem !important;
  color: #333 !important;
  padding-bottom: 10px !important;
}

.blog_content ul,
.blog_content ol {
  list-style-type: disc; /* or decimal for <ol> */
  /* margin-left: 1.5rem; or your preferred indentation */
  padding-left: 1.5rem;
}

.blog_content li {
  margin-bottom: 0.5rem;
}
.blog_content img{
  width: 100% !important;
}

.banner_content h2{
     font-size: 1.6rem !important;
  color: #333 !important;
  padding-bottom: 10px !important;
}


.custom-shadow {
            box-shadow: 0 10px 15px -3px #6965EA, 0 4px 6px -2px #6965EA;
        }
        .custom-shadow:hover {
            box-shadow: 0 25px 50px -12px #6965EA;
        }

.blog_content h3,
.faq_content h3  {
  font-size: 1.5rem !important;
  color: #000 !important;
  padding-bottom: 9px !important;
}

.blog_content p,

.faq_content p  {
  color: #333 !important;
  font-size: 16px !important;
  padding-bottom: 8px !important;
}

.blog_content table {
  border: 1px solid gray !important;
  margin-bottom: 15px !important;
}

.blog_content table tbody tr td {
  padding: 15px !important;
  width: auto !important;
  font-size: 14px !important;
  border: 1px solid hsla(0, 0%, 50.2%, .5019607843);
}


/* Zebra striping - alternate row colors */
.blog_content table tbody tr:nth-child(odd) td {
  background-color: hsla(0, 0%, 50.2%, .0705882353) !important;
}

.blog_content table tbody tr:nth-child(even) td {
  background-color: white !important;
}

.blog_content table tbody tr:nth-child(even) td:hover {
  background-color: #F2F2F2 !important;
}

.blog_content table tbody tr:hover {
  background-color: #F2F2F2 !important;
}

.blog_content a,

.faq_content a {
  color: #4440E6 !important;
  font-size: 16px;
}

.faq_content p{
  color: #777 !important;
  font-size: 14px !important;
}

.overflow-y-auto::-webkit-scrollbar {

  width: 6px !important;

}

.overflow-y-auto::-webkit-scrollbar-track {
  background-color: transparent !important;
}

.overflow-y-auto::-webkit-scrollbar-thumb {
  background-color: #4440E6 !important;
  border-radius: 4px !important;
}

.line-clamp-2 {
  display: -webkit-box !important;
  -webkit-line-clamp: 2 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}

.line-clamp-3 {
  display: -webkit-box !important;
  -webkit-line-clamp: 3 !important;
  -webkit-box-orient: vertical !important;
  overflow: hidden !important;
}




@media screen and (max-width: 480px) {
  .banner_content h2{
     font-size: 1.3rem !important;
  color: #333 !important;
  padding-bottom: 10px !important;
}

 .banner_content p{
     font-size: 14px !important;
}


.blog_content h2 {
  font-size: 1.3rem !important;
  color: #333 !important;
  padding-bottom: 10px !important;
}

}
